<div class="banners-container" fxLayout="column" fxLayout.gt-sm="row" *ngIf="banners.length > 0">
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="40">
        <!-- <div class="banner" fxFlex="50" fxFlex.gt-sm="67" [ngStyle]="getBgImage(0)"> -->
        <div class="banner" fxFlex="50" fxFlex.gt-sm="67" [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[0].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[0].productId)?.imagesIds[0])?.value2 + ')'">
            <div class="info" fxLayoutAlign="start start">
                <div class="px-2" fxLayout="column" fxLayoutAlign="center center">
                    <h1 class="title">{{getBanner(0).title}}</h1>
                    <h3 class="subtitle">{{getBanner(0).subtitle}}</h3>
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <span class="old-price text-muted"><span>{{(products | filterById : getBanner(0).productId)?.oldPrice | number : '1.2-2'}}€</span></span>

                        <span class="new-price">{{(products | filterById : getBanner(0).productId)?.newPrice | number : '1.2-2'}}€</span>
                    </div>
                    <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlex="50" fxFlex.gt-sm="33">
            <!-- <div class="banner" fxFlex [ngStyle]="getBgImage(1)"> -->
            <div class="banner" fxFlex [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[1].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[1].productId)?.imagesIds[0])?.value2 + ')'">
                <div class="infoBasGauche" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(1).title}}</h2>
                        <h5 class="subtitle">{{getBanner(1).subtitle}}</h5>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                        <div fxLayout="row" fxLayoutAlign="center start">
                            <span class="old-price text-muted"><span>{{(products | filterById : getBanner(1).productId)?.oldPrice | number : '1.2-2'}}€</span></span>

                            <span class="new-price">{{(products | filterById : getBanner(1).productId)?.newPrice | number : '1.2-2'}}€</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="banner" fxFlex [ngStyle]="getBgImage(2)"> -->
            <div class="banner" fxFlex [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[2].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[2].productId)?.imagesIds[0])?.value2 + ')'">
                <div class="infoBasGauche" fxFlex fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(2).title}}</h2>
                        <h5 class="subtitle">{{getBanner(2).subtitle}}</h5>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                        <div fxLayout="row" fxLayoutAlign="center start">
                            <span class="old-price text-muted"><span>{{(products | filterById : getBanner(2).productId)?.oldPrice | number : '1.2-2'}}€</span></span>

                            <span class="new-price">{{(products | filterById : getBanner(2).productId)?.newPrice | number : '1.2-2'}}€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="60">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="33">
            <!-- <div class="banner" fxFlex [ngStyle]="getBgImage(3)"> -->
            <div class="banner" fxFlex [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[3].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[3].productId)?.imagesIds[0])?.value2 + ')'">

                <div class="infoCoteGauche" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(3).title}}</h2>
                        <h5 class="subtitle">{{getBanner(3).subtitle}}</h5>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                        <div fxLayout="row" fxLayoutAlign="center start">
                            <span class="old-price text-muted"><span>{{(products | filterById : getBanner(3).productId)?.oldPrice | number : '1.2-2'}}€</span></span>

                            <span class="new-price">{{(products | filterById : getBanner(3).productId)?.newPrice | number : '1.2-2'}}€</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="banner" fxFlex [ngStyle]="getBgImage(4)"> -->
            <div class="banner" fxFlex [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[4].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[4].productId)?.imagesIds[0])?.value2 + ')'">

                <div class="infoCoteGauche" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(4).title}}</h2>
                        <h5 class="subtitle">{{getBanner(4).subtitle}}</h5>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                        <div fxLayout="row" fxLayoutAlign="center start">
                            <span class="old-price text-muted">{{(products | filterById : getBanner(4).productId)?.oldPrice | number : '1.2-2'}}€</span>

                            <span class="new-price">{{(products | filterById : getBanner(4).productId)?.newPrice | number : '1.2-2'}}€</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="banner" fxFlexOrder="1" fxFlexOrder.gt-sm="2" fxFlex="50" fxFlex.gt-sm="67" [style.background-image]="'url(' + (images | filterById : (products | filterById : banners[5].productId)?.imagesIds[0])?.value1 +
                (images | filterById : (products | filterById : banners[5].productId)?.imagesIds[0])?.value2 + ')'">
            <div class="info" fxLayout="column" fxLayoutAlign="center center">
                <div class="px-2" fxLayout="column" fxLayoutAlign="center center">
                    <h1 class="title">{{getBanner(5).title}}</h1>
                    <h5 class="subtitle">{{getBanner(5).subtitle}}</h5>
                    <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Détail ici ...</a>
                    <div fxLayout="row" fxLayoutAlign="center start">
                        <p class="old-price text-muted"><span>{{(products | filterById : getBanner(5).productId)?.oldPrice | number : '1.2-2'}}€</span></p>

                        <p class="new-price">{{(products | filterById : getBanner(5).productId)?.newPrice | number : '1.2-2'}}€</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>